@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');
  body{
    font-family: 'El Messiri', sans-serif;
  font-size: 1.25rem;
  width: 90vw;
  background-color: beige;
}
#container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;

}

form, p {
  margin: 20px;
}

p.note {
  font-size: 1rem;
  color: red;
}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 4px;
  font-family: 'Lato';
  width: 300px;
  margin-top: 10px;
}

label {
  width: 300px;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

label span {
  font-size: 1rem;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

[type="submit"], [type="reset"], button, html [type="button"] {
    margin-left: 0;
    border-radius: 0;
    background: black;
    color: white;
    border: none;
    font-weight: 300;
    padding: 10px 0;
    line-height: 1;
}
.submit:hover{
  background-color: gray;
}
.registerduserlogin:hover{
  background-color: gray;
}
#userid{
  word-wrap: break-word;
}
#myList{
  display: flex;
justify-content: center;  flex-wrap: wrap;
  width: 100%;
  padding: 2px 16px;
  height: 100%;
}
#card{
  display: flex; 
  flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
  background-color: goldenrod;
  width:40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
  padding: 10px;
  line-height: 1.5;
  height: auto;
  border-radius: 9px;
}
#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
li{
  list-style-type: lower-alpha;
}
#cardnmuber{ 
  padding: 3px;
  margin-top: 30px;
text-align: center;
  border:3px solid black;
  background-color: rgb(168, 168, 168);
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  width: 40%;
  height: 50px;
}
.registerduserlogin{
  color: rgb(255, 255, 255);
  font-family: 'El Messiri', sans-serif;
  font-size: 1.5rem;
  background-color: black;
  border-radius: 7px;
  padding: 3px;
}
#bussinsecheak{
  width: 40%;
  margin:0 auto;

}